---
layout: layouts/base.njk
permalink: /
---
{% set textsHome = collections.home %}
{% set steps = collections.howItWorks %}
{% set devsCards = collections.devsCards %}
{% set solutionCards = collections.solutions %}
{% set community = collections.community %}
{% include "./_includes/home.njk" %}
