<div class="blueSection">
    <div class="bluePosition">
        <div>
        <span class="blueRow"><img class="blueImage" src="../../images/HOLO.png"></img><p>HOLO</p></span>
        <span>
            <h4 class="blueFirst">Looking for information about</h4>
            <h5 class="blueFirst blueBolder">HoloPorts, Hosting, HOT, <span style="font-weight:normal;">or </span> HoloFuel?</h5>
        </span>
        </div>
        <a class="blueSectionLink" href="#"> Go to Holo <i class='fas fa-arrow-right'></i></a>
    </div>
</div>