<div class="communitySection">
    <h2 class="secondTitle">What the Community is Saying</h2>
    <div class="carrousel">
    <i id="leftArrowComm" class="fa fa-chevron-left"></i>
    {% for quotes in community %}
    <div id="elem_{{loop.index}}" class="quoteBox dontShowQuote">
    {{quotes.data.quote}}
    </div>
    {% endfor %}
    <i id="rigthArrowComm" class="fa fa-chevron-right"></i>
    </div>
</div>

<hr class="lessWidth"/>