{% for texts in textsHome %}
<div class="imageBackground">
    <div class="homeColumn">
        <div class="cardHome1">
            <ul class="row">
                <li id="T&S" class="cardTitle">
                    Mision
                </li>
                <li id="BB" class="cardTitle titleActive">
                    Vision
                </li>
            </ul>
            <hr/>
            <div class="paddingText cardDisappear cardShowText">
                {{texts.data.beyond}}
            </div>
            <div class="paddingText cardDisappear cardDisappearText">
                {{texts.data.trust}}
            </div>
            <a href="#sectionFirts" class="buttonFirstCard">
                Descubrenos
            </a>
        </div>
    </div>
    <hr class="lessWidth"/>
</div>
{% endfor %}