<a name="sectionSecond"></a>
<div class="twinCards">
    <div class="twinCardsRow">    
        {% for card in devsCards %}
        <div class="devCard">
            <span class="titleRow" style="margin-bottom:2rem;">
                <p class="twinCardsTitle" >{{card.data.title}} </p>
                <p> Devs</p>
            </span>
            <h3 class="charTitle">{{card.data.charTitle1}}</h3>
            <p class="charDescriptionText">{{card.data.charDescrip1}}</p>
            <div style="display:flex; justify-content:space-evenly; margin-bottom:1rem;">
            <a href={{card.data.link1}} target="_blank" class="buttonFirstCard twinButtons">
                LinkedIn
            </a>
            <a href={{card.data.link2}} target="_blank" class="buttonFirstCard twinButtons">
                GitHub
            </a>
            </div>
            <h3 class="charTitle">{{card.data.charTitle2}}</h3>
            <p class="charDescriptionText">{{card.data.charDescrip2}}</p>
            <div style="display:flex; justify-content:space-evenly;">
            <a href={{card.data.link3}} target="_blank" class="buttonFirstCard twinButtons">
                LinkedIn
            </a>
            <a href={{card.data.link4}} target="_blank" class="buttonFirstCard twinButtons">
                Github
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr class="lessWidth"/>