{% for text in textsHome %}
<a name="sectionFirts"></a>
<h2 class="secondTitle" style="text-align:center">Casos de Exito</h2>
<div class="secondSection" style="display:flex; justify-content:space-evenly;">
    <div class="devCard" style="justify-content: flex-start">
            <span class="titleRow" style="margin-bottom:2rem;">
                <p> Mision</p>
            </span>
            <div style="margin-bottom:1rem; text-align:left; ">
            Nos gustaría ser una de las empresas más solicitadas en el mundo del desarrollo de software, que sea capaz de dar soluciones en forma de software con la mejor calidad posible.
            <ol>
            <li>Temporalidad: 2021</li>
            <li>Descripción de Negocio: Desarrollo de software de calidad.</li>
            <li>Cliente: cualquier empresa/negocio alrededor del mundo. (o cualquier empresa/negocio en América).</li>
            <li>Métrica de éxito: Mantener una buena cantidad de clientes.</li>
            </ol>
            </div>
            
        </div>
         <div class="devCard">
            <span class="titleRow" style="margin-bottom:2rem;">
                <p> Vision</p>
            </span>
            <div style="text-align:left;">
            Nos gustaría ver una empresa que pueda dar soluciones en forma de software de calidad, automatizadas, eficientes y adaptadas a la necesidad o situación del cliente, tomando los requerimientos de su negocio/emprendimiento, evaluando los recursos y todas las ideas posibles, desarrollando un prototipo fiel a lo acordado, dando reportes en el periodo de tiempo indicado y acordando acciones opcionales. Además de todo esto, teniendo la posibilidad de dar soporte y mejoras a la solución en caso de estar incluidas en un acuerdo previo con la intención de que exista satisfacción de parte del cliente y del equipo de desarrollo pues si se mantiene al cliente satisfecho, se mantendrá con nosotros.  
Lo importante, es demostrar que podemos ser una opción de calidad para el desarrollo de software.

            </div>
            
        </div>
        
        </div>
<hr class="lessWidth"/>
{% endfor %}
